*{
    margin: 0;
}
body{
  background-color: rgb(247, 251, 255);
  animation: 1s anim;
}
@keyframes anim{
  0%{opacity: 0;}
}

/* insert page */
.status-container{
  display: flex;
  align-items: center;
  justify-content: center;
}
.status{
  text-align: center;
  width: 215px;
  background-color: blueviolet;
  padding: 10px;
  border-radius: 5px;
  color: #fff;
}

.insert-container{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}

.input{
  padding: 8px;
  border: 0px solid;
  background-color:  rgba(248, 248, 248, 0.479);
  border-radius: 5px;
}
.input:focus{
  outline: none;
  border: 1px solid blueviolet;
  border-radius: 5px;
}
.button{
  border: 0px solid;
  padding: 7px 15px;
  cursor: default;
  border-radius: 3px;
  color: #fff;
  background-color: blueviolet;
  outline: none;
}
.button:active{
  box-shadow: 0px 0px 2px .1px rgb(212, 212, 212);
}

.input-box{
  text-align: center;
  width: 200px;
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
}

/* home page */
#nav-bar
{
    height: 60px;
    width: 100%;
    position: fixed;
    display: flex;
    align-items: center;
    box-shadow: 0px 0px 2px .1px rgb(212, 212, 212);
    background-color: #fff;
    font-size: 20px;
    z-index: 999;
    top: 0;
}

#nav-body
{
    width: 90%;
    margin: 0 auto;
    display: flex;
    align-items: center;
}
#nav-name
{
    font-size: 26px; 
    color: blueviolet;
}

#app{
  width: 90%;
  margin: 0 auto;
  display: block;
  margin-top: 60px;
  padding-top: 10px;
}

#con-wrapper{
  background-color: #fff;
  padding: 10px;
}

#p-name{
  font-size: 20px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: rgb(119, 119, 119);
}

.p-all{
  font-size: 16px;
  margin-top: 5px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: rgb(168, 168, 168);
}

#fab-button{
  width: 40px;
  height: 40px;
  position: absolute;
  bottom: 50px;
  right: 50px;
  background-color: blueviolet;
  border-radius: 50%;
  border: 5px solid rgba(226, 196, 255, 0.562);
  box-shadow: 0px 0px 2px .1px rgb(212, 212, 212);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  font-weight: bold;
  color: #fff;
  text-decoration: none;
}