{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    
    {% if title %}
        <title>My App - {{ title }}</title>
    {% else %}
        <title>My App</title>
    {% endif %}

</head>
<body>
    <div id="nav-bar">
        <div id="nav-body">
            <label for="nav-body" id="nav-name" onclick="window.location = '/'">Shopping List</label>
        </div>
    </div>
    
    {% block content %}
    {% endblock %}

    {% block script %}
    {% endblock %}
</body>
</html>