{% extends 'base.html' %}
{% block navbar %}
    {% include "navbar.html" %}
{% endblock navbar %}

{% block content %}
    <div id="app">

        <div class="status-container">
            {% if messages %}
                <div id="status">
                    {% for message in messages %}
                        {{ message }}
                    {% endfor %}
                </div>
            {% endif %}
        </div>

        <div class="insert-container">
            <form action = "{% url 'editdata' %}" method = "POST">
                {% csrf_token %}
                <div class="input-box">
                    <input hidden value="{{product.id}}" type="text" name="id" >
                    <input value="{{product.name}}" name="name" class="input" type="text" placeholder="Enter Name"> <br><br>
                    <input value="{{product.price}}" name="price" class="input" type="text" placeholder="Enter Price"> <br><br>
                    <input value="{{product.quantity}}" name="quantity" class="input" type="text" placeholder="Enter Quantity"> <br><br>
                    <button class="button">Save</button>
                </div>
            </form>
        </div>

    </div>
{% endblock content %}
